body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

.backgroundImg {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: -1;
}

.backgroundImg > img {
  width: 100%;
  height: 100%;
  background-image: url("../images/malmangar.jpg"); /* This needs to be compressed */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

a:link{
  color: inherit;
  text-decoration: none;
}

a:visited {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: inherit;
  text-decoration: none;
}

a:active {
  color: inherit;
  text-decoration: none;
}

/* header */

.header {
  width: 100vw;
  height: auto;
  position: fixed;
  display: grid; 
  grid-template: 100% / calc(100vw*2/5) 1fr;
  font-weight: bold;
}

#header {
  background-color: white;
  box-shadow: 0px 0px 10px gray;
}

#headerTitle {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

#headerTitle > h2 {
  font-size: 2em;
  margin: 50px;
}

#headerLinks {
  width: 100%;
  height: 100%;
  color: white;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.25em;
}

#headerLinks > a {
  width: 50%;
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
}

/* Dropdown menu */

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #575F38;
  top: 100%;
  left: 50%;
  transform: translate(50%, 0);
  width: calc(100%/5); /* Why does this work */
  z-index: 1;
  height: auto;
}

.dropdown-content a {
  float: none;
  color: white;
  text-decoration: none;
  display: block;
  text-align: left;
  padding: 0px 25px;
  line-height: 3.5em;
}

#dropdwn1 {
  left: calc(100vw*2/5);
}

#dropdwn2 {
  right: 0;
}

#headerLinks > a:hover + .dropdown-content {
  display: block;
}

#headerLinks > a:hover + .dropdown-content a{
  display: block;
}

.dropdown-content:hover {
  display: block;
}

.dropdown-content:hover ~ #headerLinks > a {
  background-color: #575F38;
}

.dropdown-content > a:hover {
  background-color: #454c2c;
}

/* Hamburger menu */

#menuToggle {
  display: none;
  position: relative;
  top: 25px;
  left: 25px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
  background-color: #575F38;
  border-radius: 10px;
  padding: 10px;
}

#menuToggle a {
  text-decoration: none;
  color: white;
  transition: color 0.3s ease;
  line-height: 1.5em;
}

#menuToggle a:hover {
  font-weight: bold;
}

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
  -webkit-touch-callout: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  background: white;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: white;
}

#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

#menu {
  position: absolute;
  width: 100vw;
  height: 100vh;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  background: #575F38;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li {
  padding: 10px 0;
  font-size: 22px;
} 

#menuToggle input:checked ~ ul {
  transform: none;
}

@media (orientation: portrait) {
  #menuToggle {
    display: block;
  }
}

/* index.html */

/* Main screen layout */

.gridContainer {
  display: grid;
  grid-template: 100vh / calc(100vw*2/5) 1fr;
}

/* Left side of screen (Title) */

.left { 
  max-width: 100%;
  height: 100%;
  background-color: rgb(250, 249, 246, 0.6);
  display: grid;
  place-items: center;
  text-align: center;
  font-size: 3em;
  padding: 0 100px;
  font-weight: bold;
}

/* Right side of screen (Header, bodytitle, body, button) */

.right { 
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, 0.8); 
  color: white;
  display: grid;
  grid-template: 1fr 1fr 1fr / 100%; /* Needs better solution*/
}

#title {
  height: 80%;
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  text-align: center;
  font-size: 2em;
  font-weight: bold;
}

#body {
  height: 80%;
  width: 90%;
  line-height: 1.75em;
  font-size: 24px;
  margin: auto;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

#button {
  height: 80%;
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

#button > a {
  height: 50px;
  width: 150px;
  background-color: #575F38;
  color: white;
  border-radius: 9999px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#button > a:hover {
  background-color: #454c2c;
  cursor: pointer;
}

/* Styrelse */

.contactCardFlex {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 200px 0;
  gap: 50px;
}

.contactCardFlex > div {
  width: 500px;
  height: 500px;
  border-radius: 25px;
  box-shadow: 10px 10px 25px gray;
  display: flex;
  flex-direction: column;
}

.cardImage {
  width: 100%;
  height: 75%;
}

.cardImage > img {
  width: 100%;
  height: 100%;
  border-radius: 25px 25px 0px 0px;
}

.cardText {
  width: 100%;
  height: 35%;
  text-align: center;
}

.cardText > h3 {
  line-height: 0;
  font-weight: normal;
}


/* Flex layout for (Stadgar, mal, Om föreningen) */

.flex-layout-1 {
  display: grid;
  place-items: center;
  padding: 200px 0;
}

.flex-layout-1-card {
  background-color: white;
  box-shadow: 0 0 20px gray;
  border-radius: 25px;
  max-width: 60vw;
  line-height: 1.75em;
  font-size: 24px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
}

.stadgarFlexBackground > h1 {
  line-height: 2em;
}

/* Flex layout (Bli medlem, kontakt) */

.flex-layout-2 {
  min-height: 100vh;
  padding: 0 100px;
  display: flex;
  flex-direction: column;
}

.flex-layout-2 > h1 {
  margin: 200px 0 0 0;
}

/* Media queries */

@media (orientation: portrait) {
  #header {
    background-color: transparent;
    box-shadow: none;
  }
  #headerLinks {
    display: none;
  }
  #headerTitle > h2{
    display: none;
  }
  .gridContainer {
    grid-template: calc(100vh*2/5) 1fr / 100vw;
  }
  .left {
    font-size: 1.75em;
    padding: 0 50px;
  }
  .right {
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 50px 0;
  }
  #body {
    font-size: 1em;
  }
  .flex-layout-1 {
    padding: 20px 0;
  }
  .flex-layout-1-card {
    justify-content: center;
    align-items: center;
    padding: 25px;
    max-width: 85vw;
  }
  .flex-layout-1-card > h1 {
    font-size: 1.25em;
  }
  .flex-layout-1-card > p {
    font-size: .75em;
    line-height: 1.25em;
  }
  .contactCardFlex {
    padding: 25px 10px;
  }
  .flex-layout-2 { 
    padding: 100px 25px;
  } 
  .flex-layout-2 > p {
    max-width: 90%;
  }
  .flex-layout-2 > h1 {
    margin-top: 0;
  }
}