/* Header */ 

header {
  background-color: white;
  display: flex;
  padding: 10px 25px;
  box-shadow: 0 0 10px gray;
  position: sticky;
  top: 0;
  z-index: 9999;
}

header > h1 {
  flex-grow: 1;
}

header > nav {
  flex-grow: 1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: space-around;
  align-items: center;
}

nav > div {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

nav a {
  width: fit-content;
  font-size: 1.25rem;
  color: black;
  padding: 8px;
}

nav > div > a:hover {
  text-shadow: 1px 0 0 currentColor;
  margin-bottom: -3px;
  border-bottom: 3px solid green;
}

nav > div:hover > .dropdown-menu {
  display: flex;
}

.dropdown-menu {
  width: 200px;
  display: none;
  flex-direction: column;
  position: absolute;
  z-index: 9999;
  top: 100%;
  background-color: white;
  box-shadow: 0 0 10px gray;
}

.dropdown-menu > a {
  width: auto;
  display: block;
  padding: 25px;
}

.dropdown-menu > a:hover {
  text-shadow: 1px 0 0 currentColor;
  border-bottom: 3px solid green;
  background-color: #f9f9f9;
}

.active {
  text-shadow: 1px 0 0 currentColor;
  margin-bottom: -3px;
  border-bottom: 3px solid green;
}

#call-to-action {
  padding: 15px 25px;
  background-color: green;
  color: #f5f5f5;
  border-radius: 10px;
}

.call-to-action > #call-to-action:hover {
  border-bottom: none;
  outline: 3px solid black;
}

@media only screen and (max-width: 1200px) { 
    header {
        display: none;
    }   
}

/* Hamburger menu */

#menuToggle {
    z-index: 9999;
    display: none;
    position: fixed;
    top: 15px;
    left: 15px;
    -webkit-user-select: none;
    user-select: none;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
  }
  
  #menuToggle a {
    text-decoration: none;
    color: black;
    transition: color 0.3s ease;
    line-height: 1.5em;
    display: block;
    width: fit-content;
  }
  
  #menuToggle a:hover {
    font-weight: bold;
  }
  
  #menuToggle input {
    z-index: 9999;
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0;
    -webkit-touch-callout: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  #menuToggle span {
    z-index: 9998;
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    background: black;
    border-radius: 3px;
    transform-origin: 4px 0px;  
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                opacity 0.55s ease;
  }
  
  #menuToggle span:first-child {
    transform-origin: 0% 0%;
  }
  
  #menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
  }
  
  #menuToggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: black;
  }
  
  #menuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }
  
  #menuToggle input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
  }
  
  #menu {
    position: absolute;
    width: 100vw;
    height: 100vh;
    margin: -100px 0 0 -50px;
    padding: 50px;
    padding-top: 125px;
    background: white;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  }
  
  #menu li {
    padding: 10px 0;
    font-size: 22px;
  } 
  
  #menuToggle input:checked ~ ul {
    transform: none;
  }
  
  @media screen and (max-width: 1200px) {
    #menuToggle {
      display: block;
    }
  }